<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
        type="text/javascript" charset="utf-8"></script>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
        type="text/javascript" charset="utf-8"></script>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"
        type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css"
        href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
        <link rel="stylesheet" href="/CSS/bootstrap.min.css" />
        <link rel="stylesheet" href="/CSS/all.min.css" />
        <link rel="stylesheet" src="/CSS/styles.css"/>
        <style>
            .darkmode {
                background-color: #212529;
            color: white;
            }
            .darkmode .nav-link {
            color: white;
            }
            .font-white{
                color: white;
            }
        </style>
    </head>
    <body>
        <header class="mb-1 mt-1">
            <div class="container full-nav-bar">
                <nav class="nav-menu navbar navbar-expand-lg bg-light">
                    <div class="container-fluid">
                        <div>
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item btn"><a class="nav-link nav-link-1" aria-current="page" href="/">Home</a></li>
                            </ul>
                        </div>
                        <div class="form-check form-switch ms-5 mt-1 me-4">
                            <label class="form-check-label ms-1" for="lightSwitch">
                                <i class="fa-regular fa-lightbulb"></i>
                            </label>
                            <input class="form-check-input" type="checkbox" id="lightSwitch" role="switch" onclick="setDarkMode()"/>
                        </div>
                    </div>
                </nav>
            </div>
        </header>  
        <main>
            <div class="container shadow-lg py-1 px-5 rounded">
                <h1 class="main-heading text-center"><%= title %></h1>
                <hr>
                <img class="w-100" src="<%= imageURL %>" alt="<%= title %>">
                <hr>
                <p class="date fw-bold"><%= date %></p>
                <hr>
                <p class="text"><%= text %></p>
                <div class="map" style="height: 400px;"></div>
            </div>
        </main>
        <script>
            function setDarkMode() {
                let isDark = document.body.classList.toggle("darkmode");
                let navbar = document.querySelector(".navbar");
                let navLink = document.querySelector(".nav-link-1");

                if (isDark) {
                    window.localStorage.setItem("theme", "dark");
                    document.getElementById("lightSwitch").setAttribute("checked", "checked");
                    navbar.classList.remove("bg-light");
                    navLink.classList.add("text-white");
                    } 
                else {
                    localStorage.setItem("theme", "light");
                    navbar.classList.add("bg-light");
                    navLink.classList.remove("text-white");
                }
            }

            function initializeDarkMode() {
                const theme = localStorage.getItem("theme");
                if (theme === "dark") {
                    setDarkMode();
                }
                }

                initializeDarkMode();
        </script>

        <script src="/js/maps.js"></script>
    </body>
</html>